@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Noto+Sans:wght@400;700&display=swap");
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #222;
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  color: #0066CC;
}

p {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 80px;
  font-weight: bold;
}

h4 {
  font-size: 45px;
  font-weight: bold;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-img {
  width: 35px;
  height: 35px;
}

.header-title {
  font-size: 28px;
  color: #222;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav ul li {
  list-style: none;
  margin: 0 20px;
}

.header-nav ul li a {
  font-size: 22px;
}

main {
  margin: 120px 0 400px;
}

.text-gradient {
  display: inline-block;
  background: -webkit-linear-gradient(45deg, #54d0ff, #9f92ff 20%, #ff7689 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* 未対応ブラウザのために一応テキスト色を指定しておく */
  color: blue;
}

.main-title {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  -webkit-animation-name: fadedown;
          animation-name: fadedown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.service .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 250px 0;
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
}

.service .service-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.service-item.fadeIn {
  opacity: 1;
}

.sec-margin {
  margin: 200px 0;
}

.image {
  width: 500px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin: 0 60px;
}

.service-text {
  width: 27%;
}

.service-text a {
  display: inline-block;
  margin: 10px 0;
  font-size: 18px;
}

.company-detail {
  background-image: url(../image/company1.png);
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
}

.skill-text {
  color: #fff;
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 30%;
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
}

.skill-text h3 {
  margin-bottom: 10px;
}

.skill-text p {
  font-size: 30px;
}

.skill-text.fadeIn {
  opacity: 1;
}

.past-work h3 {
  margin-bottom: 20px;
  text-align: center;
}

.slider1,
.slider2 {
  margin: 80px 0;
}

.slider1 img,
.slider2 img {
  width: 270px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  border-radius: 20px;
}

footer {
  text-align: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

footer ul li {
  list-style: none;
  margin: 0 30px;
}

footer ul li a {
  font-size: 22px;
}

/*    company    */
.company-introduction .company-text {
  position: absolute;
  top: 40%;
  left: 9%;
  color: #fff;
}

.company-introduction h2 {
  font-size: 80px;
}

.company-introduction video {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*    service    */
.service-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.service-introduction {
  margin: 200px 0;
}

.service-introduction .service-list {
  width: 100%;
  height: 500px;
  list-style: none;
  margin: 150px auto;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}

.service-introduction .service-list a {
  color: #fff;
  font-size: 110px;
  font-weight: 900;
  text-align: center;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 0.09em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.service-introduction .service-list a:hover {
  opacity: 0.3;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.service-introduction .web {
  background-image: url(../image/web.png);
}

.service-introduction .marketing {
  background-image: url(../image/marketing.png);
}

.service-introduction .app {
  background-image: url(../image/app.png);
}

/*    contact    */
.contact {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

.contact h2 {
  font-size: 40px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 100px;
}

.contact form label {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.contact form input {
  width: 400px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 6px;
  font-size: 16px;
}

.contact form textarea {
  width: 400px;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
}

.contact form .submit {
  background-color: #F1F1F1;
  width: 200px;
  height: 80px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 22px;
  border-radius: 20px;
  text-align: center;
}

.sp-only {
  display: none;
}

/* tb  */
@media screen and (max-width: 1024px) {
  header {
    width: 90%;
  }
  .slider1 img,
  .slider2 img {
    width: 220px;
    height: 220px;
  }
  .company-introduction .company-text {
    top: 27%;
    left: 9%;
  }
  .service-introduction .service-list {
    width: 80%;
    height: 370px;
  }
  .service-introduction .service-list a {
    font-size: 90px;
  }
}

/*  sp  */
@media screen and (max-width: 599px) {
  .sp-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
  h3 {
    font-size: 45px;
  }
  h4 {
    font-size: 30px;
  }
  header {
    width: 93%;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  .header-title {
    font-size: 25px;
  }
  .humburger-btn span {
    display: block;
    background-color: #000;
    width: 40px;
    height: 4px;
    margin: 8px 0;
    border-radius: 10px;
  }
  .humburger-btn span :hover {
    cursor: pointer;
  }
  .humburge-menu {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    display: none;
  }
  .humburge-menu li {
    margin: 120px 0;
  }
  .humburge-menu a {
    font-size: 40px;
    font-weight: bold;
  }
  .humburge-menu:hover {
    cursor: pointer;
  }
  .humburge-menu.show {
    display: block;
  }
  main {
    margin: 150px 0 400px;
  }
  main .main-title {
    font-size: 55px;
  }
  .skill-text {
    top: 37%;
  }
  .skill-text p {
    font-size: 18px;
  }
  .service-text {
    width: 100%;
  }
  .service-img {
    width: 73%;
    margin-bottom: 15px;
  }
  .image {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .service-text {
    padding: 0 50px;
  }
  .service-text h4 {
    margin-bottom: 10px;
  }
  .slider1,
  .slider2 {
    margin: 25px 0;
  }
  .slider1 img,
  .slider2 img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 10px;
  }
  footer ul {
    margin: 30px 0;
  }
  footer ul li {
    margin: 0 10px;
  }
  footer ul li a {
    font-size: 12px;
  }
  /*  company  */
  .company-introduction {
    margin: 60px 0;
  }
  .company-introduction .company-text {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .company-introduction .company-text p {
    text-align: center;
  }
  /* service  */
  .service-introduction {
    margin: 100px 0;
  }
  .service-introduction .service-list {
    width: 80%;
    height: 210px;
    margin: 50px auto;
  }
  .service-introduction .service-list a {
    font-size: 40px;
  }
  /*  contact  */
  .contact {
    width: 100%;
    padding: 0 15px;
  }
  .contact form label {
    font-size: 16px;
  }
  .contact form input {
    width: 100%;
  }
  .contact form textarea {
    width: 100%;
  }
  .contact form .submit {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */